@use "../variables" as *;

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  color: $color-primary;
  padding-top: 24px;
}

.modal__close {
  position: absolute;
  top: 21px;
  right: 23px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  transition: 0.3s opacity ease;

  &-icon {
    width: 14px;
    height: 14px;
  }

  &:hover {
    opacity: 0.7;
  }
}
